@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.App {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, lightgrey, white, whitesmoke);
  color: #212121;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 0.9rem;
  width: 25%;
  padding: 4rem 1rem;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0 0 10px 3px lightgrey;
}
@media (width<1500px) {
  .joinChatContainer {
    min-width: 25rem;
  }
}
@media (width <500px) {
  .joinChatContainer {
    width: 100%;
  }
}
.error {
  border: 1px solid red;
}

.joinChatContainer h3 {
  font-size: 2.2rem;
  margin: 0;
}
.joinChatContainer input {
  width: 100%;
  height: 40px;
  text-indent: 0.5rem;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 100%;
  height: 100%;
}
@media (width<700px) {
  .chat-window {
    width: 100%;
  }
}

.chat-footer textarea {
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  border-right: 1px solid #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
  resize: none;
}
@media (width<500px) {
  .chat-footer textarea {
    font-size: 1.1rem;
  }
}

.btn_container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.chat-window p {
  margin: 0;
}
.chat-window .chat-body {
  height: 37rem;
  border: 1px solid #263238;
  background: #fff;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-start;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  gap: 0.4rem;

  padding-left: 0.2rem;
  font-size: 12px;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 90%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 10%;

  height: 100%;
  outline: none;
  font-size: 25px;
  color: dodgerblue;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}

/* Reduce the width of the scrollbar */
.chat-window .chat-body ::-webkit-scrollbar {
  width: 10px;
}

/* Customize the appearance of the scrollbar track */
.chat-window .chat-body ::-webkit-scrollbar-track {
  background: rgb(236, 221, 221);
}

/* Customize the appearance of the scrollbar thumb */
.chat-window .chat-body ::-webkit-scrollbar-thumb {
  background: #a3a2a2;
  border-radius: 3px;
}

/* On hover, change the color of the scrollbar thumb */
.chat-window .chat-body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
